# Core Configuration
API_V1_STR=/api/v1
PROJECT_NAME="Ciao Music API"

# Security (Change in production!)
SECRET_KEY=y0ur-s3cr3t-k3y-for-jwt-t0k3n_g3n3ration-change-it
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Database
# For SQLite: sqlite+aiosqlite:///./ciao.db
SQLALCHEMY_DATABASE_URI=sqlite+aiosqlite:///./ciao.db

# Redis Cache
REDIS_URL=redis://localhost:6379/0
